---
layout: layout
---

<form class="images--filter invisible">
  <fieldset>
    <label for="filter">Filter images</label>
    <input
      class="images--filter-input"
      data-action="filter"
      id="filter"
      name="filter"
      placeholder="Filter images"
      />
  </fieldset>
</form>

<table class="images--container">
  <thead>
    <tr>
      <th class="images--sort-trigger" data-sorted="asc">Name</th>
      <th>Thumbnail</th>
      <th class="images--sort-trigger">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for image in bucket.images %}
      <tr class="images--image" data-name="{{ image.name }}" data-type="{{ image.type }}">
        <td>
          <a href="/{{ image.name }}">{{ image.name }}</a>
        </td>

        <td>
          <a href="/{{ image.name }}">
            <img src="{{ image.thumbnail.url }}"
                 loading="lazy"
                 width="{{ image.thumbnail.width }}"
                 height="{{ image.thumbnail.height }}"
                 />
          </a>
        </td>

        <td>
          {{ image.date | date: "%Y-%m-%d" }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
