---
layout: layout
---

<form class="images--filter invisible">
  <fieldset>
    <label for="filter">Filter images</label>
    <input id="filter" name="filter" data-action="filter" placeholder="Filter images"/>
  </fieldset>
</form>

<table class="images--container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Thumbnail</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for image in bucket.images %}
      <tr class="images--image" data-name="{{ image.name }}" data-type="{{ image.type }}">
        <td>
          <a href="/{{ image.name }}">{{ image.name }}</a>
        </td>

        <td>
          <img src="{{ image.thumbnail.url }}"
               loading="lazy"
               width="{{ image.thumbnail.width }}"
               height="{{ image.thumbnail.height }}"
               />
        </td>

        <td>
          {{ image.date | date: "%Y-%m-%d" }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
