---
layout: layout
---

<section class="images--container">
  {% for image in bucket.images %}
    <bucket-item
        class="images--item"
        data-name="{{ image.name }}"
        data-preview="{{ image.thumbnail.url }}"
        data-type="{{ image.type }}"
        >
        <a href="{{ image.url }}">{{ image.name }}</a>
    </bucket-item>
  {% endfor %}
</section>
